
.principal{
    color: aliceblue;
    border-right: solid 1px;
    border-bottom: solid 1px;
    display: inline-block;
    max-width: 800px;
    min-width: 400px;
}
.imagem{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    max-width: 700px;
}
.imagem > img{
    max-width:90%;
}
.titulo{
    padding-top: 1rem;
    padding-left: 1rem;
}
.titulo span{
    text-decoration:underline;
}
.conteudo{
    max-width: 600px;
    margin-left: 1rem;
    margin-top: 1rem;
}

