.container{
    display: flex;
    
}
.principal{
    margin-top: 1.9rem;
    color: aliceblue;
    flex-grow: 1;
    flex-basis: 200;
    flex-direction: row;
    max-height: 250px;
    min-width: 400px;
    max-height: 150px;
    display: flex;
}
.imagem{
    display: flex;
    justify-content:space-around;
    max-width: 250px;
    max-height: 150px;
    min-width: 50px;
    
}
.imagem > img{
    background-color: aliceblue;
    max-height: 90%;
    max-width: 100%
}
.titulo{
    padding-left: 50px;
    padding-right: 10px;
}
